# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Environment variables
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/project settings
.vscode/
.idea/
*.iml

uploads
uploads/
